*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

main{
    position: absolute;
    margin-top: 100px;
}

.first{
    cursor: pointer;
}

.second{
    display: flex;
    font-weight: 600;
}


.second a, ul{
    display: flex;
    list-style:none;
    text-decoration:none ;
    padding: 10px;
    color: black;
}

.second a:hover{
    border: 0.8px;
    border-radius: 20px;
    background-color: rgba(128, 121, 121, 0.225);
}

.main input{
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.main input:focus{
    border-radius: 10px;
    background-color: rgba(128, 121, 121, 0.225);
}

i{
    cursor: pointer;
}

.third{
    display: flex;
    align-items: center;
    gap: 10px;
}

.third ul{
    list-style: none;
    display: flex;
    margin-left: 10px;
    cursor: pointer;
    gap: 10px;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 15px;
}

.img{
    border-radius: 20px;
}
.not{
    color: gold;
}

.fa-globe{
    font-size: 18px;
}
.fa-bars{
    font-size: 13px;
}

.third a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-right: 10px;

}

.main{
    display: flex;
    gap: 80px;
    border: 1px solid;
    margin: auto;
    width: fit-content;
    border-radius: 40px;
    padding: 0px 60px;
    padding-right: 0;
    align-items: center;
}

.main ul{
    display: flex;
    flex-direction: column;
    align-items: start;
}


.p{
    font-size: 30px;
    opacity: 0.3;
}

.magnifying_glass a{
    font-size: 20px;
    color: aliceblue;
    background-color: #E51D55;
    border-radius: 30px;
    border: none;
    padding: 20px 30px;
    margin-right: 20px;
}

.magnifying_glass a:focus{
    background-color: #ff0048;
    cursor: pointer;
}


.box{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
}

.box div{
    cursor: pointer;
}


.ul1{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.ul2{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-top: 0;
}
